@use "crowdsoft-utils-lib/dist/styles/mixins" as m;

@keyframes page-loader-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page_loader {
    position: absolute;
    @include m.box(5rem);
    @include m.centerWithPositioning;
    & > div {
        transform-origin: 2.5rem 2.5rem;
        animation: page-loader-animation 1.2s linear infinite;
        &::after {
            content: "";
            display: block;
            position: absolute;
            @include m.box(0.75rem);
            border-radius: 50%;
            background-color: var(--primary-blue-color);
            top: 3px;
            left: 37px;
        }
        @for $i from 1 through 12 {
            &:nth-child(#{$i}) {
                $degree: $i * 30 - 30;
                $delay: $i * 0.1 - 1.2;
                transform: rotate(#{$degree}deg);
                animation-delay: #{$delay}s;
            }
        }
    }
    &___fixed {
        position: fixed;
    }
}
