@use "src/shared/styles/typography" as typo;
@use "crowdsoft-utils-lib/dist/styles/mixins" as m;

.modal_header {
    width: 100%;
    padding: 2.25rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
    &__heading {
        flex-grow: 1;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.75rem;
        letter-spacing: var(--letter-spacing-2);
    }
    &__button {
        @include m.buttonToLink;
    }
}
