@use "crowdsoft-utils-lib/dist/styles/mixins" as m;

.modal_button {
  @include m.buttonToLink;
  position: absolute;
  right: 1rem;
  top: -4.5rem;
  @include m.centerWithFlex;
  @include m.circle(3rem);
  background-color: var(--white-color);
}