@use "src/shared/styles/mixins" as m;

.app {
  height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20rem minmax(10px, 1fr);
  grid-gap: 1rem;
  padding: 1rem 2rem;
  @include m.media("tablet") {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}